@import "var";
@font-face {
  font-family: 'Romero';
  src: url('../fonts/Romero.eot');
  src: url('../fonts/Romero.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Romero.woff2') format('woff2'),
       url('../fonts/Romero.woff') format('woff'),
       url('../fonts/Romero.ttf') format('truetype'),
       url('../fonts/Romero.svg#Romero') format('svg');
       font-weight: normal;
       font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Bold.woff') format('woff'),
       url('../fonts/Montserrat-Bold.ttf') format('truetype'),
       url('../fonts/Montserrat-Bold.svg#Romero') format('svg');
       font-weight: 700;
       font-style: normal;
}
@font-face {
  font-family: 'Avenir-Roman';
  src: url('../fonts/Avenir-Roman.eot');
  src: url('../fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Avenir-Roman.woff') format('woff'),
       url('../fonts/Avenir-Roman.ttf') format('truetype'),
       url('../fonts/Avenir-Roman.svg#Romero') format('svg');
       font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  outline: none !important;
  &:focus , &:active{
    outline: none !important;
  }
}
a {
  color: $black;
  &:hover , &:focus {
    text-decoration: none;
  }
  &:not(.btn){
    &:hover , &:focus {
      color: $primary !important;
    }
  }
}
::selection {
  color: #fff;
  background: #ff1900;
}
a , h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, span,label ,.date ,.time ,address,p{
  @include transition(0.35s ease);
}
img{
  max-width:100%;
}
.modal-open{
  padding-right: 0 !important;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
html , body{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #323232;
}
h1{font-size: 40px;}
h2{font-size: 35px;}
h3{font-size: 30px;}
h4{font-size: 25px;}
h5{font-size: 20px;}
h6{font-size: 16px;}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  /* border-color:#000; */
  box-shadow: 0 0 8px rgba(69, 69, 70, 0.20);
  outline: none;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.location-field{
  //border: 2px solid $site-color;
  width: 100%;
  padding: 12px 15px;
  height: 50px;
  background-color: #fafafa;
  border: none;
  @include border-radius(15px);

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #a0a0a0;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #a0a0a0;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #a0a0a0;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #a0a0a0;
  }
}


/* --------------------------- Mobile Menu --------------------------- */

.mobile-menu-button-section {
  display: none;
  vertical-align: middle;
}
.c-hamburger {
  float: right;
  /* display: block; */
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 35px;
  height: 31px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  right: 0;
  top: 0;
  z-index: 5;
}
.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 14px;
  left: 6px;
  right: 6px;
  height: 3px;
  background: $white;
}
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $white;
  content: "";
}
.c-hamburger span::before {
  top: -7px;
}
.c-hamburger span::after {
  bottom: -7px;
}
.c-hamburger--htx {
  background-color: #ff6d00;
}
.c-hamburger--htx span {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}
.c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: $secondary;
}
.c-hamburger--htx.is-active span {
  background: none;
}
.c-hamburger--htx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}


.social-container{
  ul{
    li{
      display: inline-block;
      margin-left: 8px;
      margin-right: 8px;
      a{
        display: block;
        width:30px;
        height: 30px;
        position: relative;
        font-size: 20px;
        @include border-radius(50%);
        color: $white;
        border: none !important;
        padding: 0 !important;
        .fa{
          @extend %middle;
        }
        &:hover{
          //background-color: $white !important;
        }
      }
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        a{  color: $white !important; }
        &.facebook{ a{background-color: $facebook;}}
        &.twitter{a{background-color: $twitter;}}
        &.youtube{a{background-color: $youtube;}}
        //&.instagram{a{background-color: $instagram}}
        &.gmail{a{background-color: $youtube;}}
      }
    }
  }
}

.inlined {
  li{
    display: inline-block;
    vertical-align: middle;
  }
}
input.search-field {
  width: 100%;
  border: none;
  height: 42px;
  padding: 8px;
}
.wrap{
  @extend %fl-fw;
}
/********************************Header****************************************/
.header-wrapper{
  @extend %fl-fw;
  height: 100px;
}
header{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 1;
}
.header-tbl{
  @extend %tbl;
  .header-tbl-cell{
    @extend %tbl-cell;
    &.logo{
      width: 130px;
      .logo-header{
        width: 130px;
        img{
          @include transition(0.35s ease);
        }
      }
    }
    &.nav{
      text-align: right;
    }
    .user-pro{
        width: 140px;
        position: relative;
        top: 100%;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
    }
  }
}
.menu-section{
  display: inline-block;
  vertical-align: middle;
  ul{
    li{
      &:not(:last-child){
        margin-right: 40px;
      }
      a{
         &:hover{
           color: $black !important;
           opacity: 0.7;
         }
      }
      &.current-page{
        a{
          color: $black !important;
          font-weight: bold;
        }
      }
    }
  }
}
.btn{
  .anim-arrow{
    margin-left: 10px;
    max-height: 23px;
  }
  &.btn-icon-primary{
    border: none;
    background: rgba(0,242,255,1);
    background: -moz-linear-gradient(left, rgba(0,242,255,1) 0%, rgba(0,204,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(0,242,255,1) 0%, rgba(0,204,255,1) 100%);
    background: -o-linear-gradient(left, rgba(0,242,255,1) 0%, rgba(0,204,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,242,255,1) 0%, rgba(0,204,255,1) 100%);
    background: linear-gradient(to right, rgba(0,242,255,1) 0%, rgba(0,204,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2ff', endColorstr='#00ccff', GradientType=1 );
    color: $white;
    &:hover , &:focus{
      background: rgba(0,242,255,1);
         background: -moz-linear-gradient(left ,rgba(0,204,255,1) 0%, rgba(0,242,255,1)100%);
      background: -webkit-linear-gradient(left ,rgba(0,204,255,1) 0%, rgba(0,242,255,1)100%);
           background: -o-linear-gradient(left ,rgba(0,204,255,1) 0%, rgba(0,242,255,1)100%);
          background: -ms-linear-gradient(left ,rgba(0,204,255,1) 0%, rgba(0,242,255,1)100%);
          background: linear-gradient(to right ,rgba(0,204,255,1) 0%, rgba(0,242,255,1)100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ccff', endColorstr=' #00f2ff', GradientType=1 );
      .anim-arrow{
        -webkit-animation: 1s linear infinite arrow-slide;
        animation: 1s linear infinite arrow-slide;
      }
    }
  }
  &.btn-icon-video{
    border: none;
    background: rgba(255,200,0,1);
    background: -moz-linear-gradient(left, rgba(255,200,0,1) 0%, rgba(255,134,0,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,200,0,1) 0%, rgba(255,134,0,1) 100%);
    background: -o-linear-gradient(left, rgba(255,200,0,1) 0%, rgba(255,134,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,200,0,1) 0%, rgba(255,134,0,1) 100%);
    background: linear-gradient(to right, rgba(255,200,0,1) 0%, rgba(255,134,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc800', endColorstr='#ff8600', GradientType=1 );
    color: $white;
    &:hover , &:focus{
      background: rgba(255,200,0,1);
         background: -moz-linear-gradient(left, rgba(255,134,0,1) 0%,rgba(255,200,0,1) 100%);
      background: -webkit-linear-gradient(left, rgba(255,134,0,1) 0%,rgba(255,200,0,1) 100%);
           background: -o-linear-gradient(left, rgba(255,134,0,1) 0%,rgba(255,200,0,1) 100%);
          background: -ms-linear-gradient(left, rgba(255,134,0,1) 0%,rgba(255,200,0,1) 100%);
          background: linear-gradient(to right, rgba(255,134,0,1) 0%,rgba(255,200,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc800', endColorstr='#ff8600', GradientType=1 );
      .anim-arrow{
        -webkit-animation: 1s linear infinite fadeIn alternate;
        animation:1s linear infinite fadeIn alternate;
      }
    }
  }
}
/********************************Header close****************************************/


/********************************Footer****************************************/
footer{
  @extend %fl-fw;
  background-color: #323537;
  color: $white;
  .footer-tbl {
    @extend %fl-fw;
    padding: 22.5px 0;
    .footer-cell{
      display: inline-block;
      vertical-align: middle;
      margin-left: -3px;
      &:first-child{
        width: calc(48% - 87px);
      }
      &:last-child{
        width: calc(52% - 87px);
        text-align: right;
      }
      ul{
        margin-bottom: 0;
      }
      a{
        color: $white;
        font-size: 13px;
      }
      span:not(.fa){
        font-size: 13px;
      }
      .other-lnk {
        li:not(:last-child){
          a{
            padding-right: 14px;
            margin-right: 14px;
            border-right:1px solid $white;
          }
        }
      }
      &.social-cell{
        width: 174px;
        text-align: center;
        font-size: 20px;
        li{
          padding: 0 15px;
          float: left;
          a{
            color: $white !important;
            display: inline-block;
            width: 28px;
            height: 28px;
            @include border-radius(50%);
            position: relative;
            vertical-align: top;
            font-size: 20px;
            &:hover{
              & > .fa{
                @include transform(scale(0.8) translate(-60%, -60%));
              }
              &.facebook{
                background-color: $facebook;
              }
              &.twitter{
                background-color: $twitter;
              }
              &.instagram{
                background-color: $instagram;
              }
            }
            .fa{
              @extend %middle;
            }
          }
        }
      }
    }
  }
}
.top-header-alt{
  @extend %fl-fw;
  height: 300px;
  .top-header-item{
    @extend %fl-fw;
    height: 100%;
    li{
      @extend %fl-fw;
      height: 100%;
      &:not(.default){
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0vw -4vw;
        background-clip: border-box;
        -webkit-background-clip: border-box;
      }
      & > .container{
        height: 100%;
        .item-tbl{
          height: 100%;
        }
      }
    }
  }
}
/********************************Footer close****************************************/



/********************************Homepage****************************************/
//@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
//{
//  /*
//    Define here the CSS styles applied only to Safari browsers
//    (any version and any device)
//   */
//  .grid .grid-item {
//    text-align: center;
//  }
//}
.slider-relatived{
  position: relative;
  .slider-ul{
    padding-top: 40px;
    margin-top: -40px;
    .item{
      @extend %fl-fw;
      height: 670px;
      background-size: auto 110%;
      margin-bottom: -50px;
      background-position: 100% 100%;
      background-repeat: no-repeat;
    }
  }
  .over-text{
    position: absolute;
    top:50%;
    left: 46px;
    width: 500px;
    @include transform(translateY(-50%));
    @include transition(0.35s ease);
    color: $white;
    font-size: 13px;
  }
}
.float-image {
  position: absolute;
  right: -50px;
  bottom: -35px;
}
.skewed-clock{
  transform: skewY(-4deg);
  overflow: hidden;
  .skewed-anticlock{
    transform: skewY(4deg);
    overflow: hidden;
  }
}
.grad-overlay{
  @extend %gred-bg-trans;
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  opacity:0.85;
}
.big-title {
  font-family:'Romero',sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  margin-top: 0;
  margin-bottom: 18px;
  line-height: 42px;
}
.app-feat-wrap{
  padding-top: 130px;
  padding-bottom: 145px;
  .container-md{
    margin-top: 50px;
  }
}
.container-md {
  width: 958px;
  margin: 0 auto;
  display: table;
}
.main-title {
  text-align: center;
  font-size: 29.96px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  font-weight: 300;
  b{
    margin-left: 8px;
  }
  &:after {
    content: "";
    width: 50px;
    background: #000;
    height: 3px;
    display: block;
    margin: 0 auto;
    margin-top: 14px;
  }
}
.sub-title {
  text-align: center;
}
.grid{
  @extend %fl-fw;
  .grid-item{
    width: 25%;
    padding: 22px;
    text-align: justify;
    text-align-last: center;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -3px;
    position: relative;
    @include transition(0.35s ease-in-out);
    min-height: 230px;
    @include border-radius(20px);
    //@include transform(translateY(-50%));
    .bottom{
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      @include transition(0.2s ease-in-out);
      color: #969696;
      margin-top: 10px;
    }
    .top{
      position: relative;
      top: 2.7vw;
      @include transition(0.35s ease-in-out);
      .img {
        display: block;
        height: 60px;
        width: 55px;
        margin: 0 auto;
        filter: grayscale(100%);
      }
      .text{
        text-align: center;
        .ttl{
          font-weight: bold;
          font-size: 15.07px;
          color: #c8c8c8;
        }
      }
    }

    &:hover{
      @include box-shadow(0px 3px 20px rgba(150, 175, 200, 0.20));
      .top{
        top:0;
        .img{
          filter: grayscale(0%);
        }
        .text{
          .ttl{
            color: #14d7af !important;
          }
        }
      }
      .bottom{
        opacity: 1;
        overflow: unset;
        max-height: 300px;
        @include transition(1s ease-in-out);
      }
    }
  }
}
.video-pr-wrap{
  background: url("../images/video-wrap-bg.png") no-repeat;
  background-size: cover;
  padding-top: 95px;
  padding-bottom: 95px;
  .video-wrap-tbl{
    @extend %tbl;
    .video-wrap-cell{
      @extend %tbl-cell;
      vertical-align: top;
      &.img{
        width: 460px;
      }
      &.content{
        padding-left: 80px;
        .main-title{
          text-align: left;
          color: $white;
          &:after{
            margin-left: 0;
            background-color: $white;
          }
        }
        .button-wrap {
          margin-top: 30px;
        }
        .sub-title{
          text-align: left;
          color: $white;
        }
      }
    }
  }
}
.alter-wrapper{
  @extend %fl-fw;
  .alter-wrapper-item{
    @extend %fl-fw;
    margin-bottom: 90px;
    .alter-wrapper-cell{
      width: 50%;
      margin-left: -2px;
      display: inline-block;
      vertical-align: middle;
      &:first-child{
        padding-right: 35px;
      }
      &:last-child{
        padding-left: 35px;
      }
      .title{
        font-size: 25px;
        color: $black;
        font-weight: bold;
        margin-bottom: 18px;
      }
      p{
        color: #646464;
        font-weight: 300;
        text-align: justify;
        &:not(:last-child){
          margin-bottom: 30px;
        }
      }
    }

  }
}
.portal-section-wrap{
  background: url("../images/slider-bg.png") no-repeat;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 30px;
  .main-title{
    color: $white;
    &:after{
      background-color: $white;
    }
  }
  .sub-title{
    color: $white;
  }
}
.portal-slider-wrap {
  width: 780px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 65px;
  text-align: center;
  .flipster__item--past:not(.flipster__item--past-1){
    opacity: 0 !important;
  }
  .flipster__item--future:not(.flipster__item--future-1){
    opacity: 0 !important;
  }
  &.flipster--flat .flipster__item--past,
  &.flipster--flat .flipster__item--future{
    @include transform(scale(0.85));
    opacity: 1;
    filter: grayscale(100%);
    background-color: $white;
    img{
      opacity: 0.35;
    }
  }
  .flipster__container{
    margin-bottom: 82px;
    .flipster__item{
      @include box-shadow(0px 10px 35px rgba(150, 50, 0, 0.5));
    }
  }
  .flipster__button{
    position: relative;
    display: inline-block;
    height: 38px;
    width: 38px;
    background-image: url("../images/portal-slide-control.png");
    background-repeat: no-repeat;
    background-size: 94px;
    margin: auto 8px;
    opacity: 1;
    @include transition(0.3s ease);
    &.flipster__button--prev{
      background-position: 0px -1px;
      &:hover ,&:focus{
        background-position: 0px -40px;
      }
    }
    &.flipster__button--next{
      background-position: -57px -1px;
      &:hover ,&:focus{
        background-position: -57px -40px;
      }
    }
    svg{
      display: none;
    }
  }
}
.pricing-grid{
  @extend %fl-fw;
  .pricing-item{
    width: 20%;
    display: inline-block;
    float: left;
    text-align: center;
    position: relative;
    @include transition(0.2s ease);
    &:not(:last-child){
      border-right: 1px solid rgba(185, 190, 221, 0.32);
    }
    &:nth-child(even){
      //&:after{
      //  content: "";
      //  position: absolute;
      //  right: 0;
      //  bottom: 0;
      //  height: 90%;
      //  width: 0.7px;
      //  background: rgba(185, 190, 221, 0.32);
      //}
      //&:before{
      //  content: "";
      //  position: absolute;
      //  left: 0;
      //  bottom: 0;
      //  height: 90%;
      //  width: 0.7px;
      //  background: rgba(185, 190, 221, 0.32);
      //}
    }
    .top{
      min-height: 185px;
      position: relative;
      overflow: hidden;
      padding: 40px 15px;
      &:after {
        content: "";
        position: absolute;
        height: 275px;
        width: 275px;
        background: #f5f6f9;
        left: -40px;
        top: -100px;
        z-index: -1;
        border-radius: 50%;
        @include transition(0.35s ease-in-out);
      }
      .price{
        font-size: 50px;
        font-weight: bold;
      }
      .duration{
        font-size: 10.55px;
        color: #afb6c6;
      }
    }
    .content{
      margin-top: 26px;
      margin-bottom: 50px;
      padding-left: 15px;
      padding-right: 15px;
      .multi-use{
        font-size: 16.23px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .user-limit{
        font-size: 10.55px;
        color: #afb6c6;
      }
    }
    .bottom{
      margin-bottom: 50px;
      padding-left: 15px;
      padding-right: 15px;
      .btn{
        width: 128px;
        height: 35px;
        padding: 9px 5px;
        min-width: 128px;
        font-size: 10.21px;
        @include border-radius(30px);
        color: $white;
        font-weight: bold;
        position: relative;
        top: 0;
        @include transition(0.35s ease-in-out);
        font-family: 'Montserrat';
        &:hover , &:focus{
          @include box-shadow(none);
          top: 2px;
        }
      }
    }
    &.yellow{
      color: $yellow;

    }
    &.red{
      color: $red;
    }
    &.vio{
      color: $vio;
    }
    &.blue{
      color: $blue;
    }
    &.green{
      color: $green;
    }
    &:hover ,&:focus{
      @include transition(0.5s ease);
      @include transform(scale(1.06));
      background: $white;
      @include border-radius(10px);
      @include box-shadow(0px 10px 30px rgba(150, 175, 200, 0.20));
      overflow: hidden;
      //&:after , &:before{
      //  opacity: 0;
      //}
      .top{
        color: $white;
        &:after{
          top: -90px;
        }
        .duration{
          color: rgba(255, 255, 255, 0.68);
        }
      }
      &.yellow{
        .top{
          &:after {
            background: $yellow;
          }
        }
      }
      &.red{
        .top{
          &:after {
            background: $red;
          }
        }
      }
      &.vio{
        .top{
          &:after {
            background: $vio;
          }
        }
      }
      &.blue{
        .top{
          &:after {
            background: $blue;
          }
        }
      }
      &.green{
        .top{
          &:after {
            background: $green;
          }
        }
      }
    }
    &:first-child{
      .top{
        border-top-left-radius: 10px;
        -webkit-border-top-left-radius: 10px;
      }
    }
    &:last-child{
      .top{
        border-top-right-radius: 10px;
        -webkit-border-top-right-radius: 10px;
      }
    }
  }
}
.pricing-wrap-grid {
  width: 978px;
  display: table;
  margin: 0 auto;
  .pricing-grid{
    margin-top: 60px;
    margin-bottom: 50px;
    @include box-shadow(0px 10px 35px rgba(150, 175, 200, 0.20));
    @include border-radius(12px);
  }
}
.pricing-wrapper{
  padding-top: 150px;
  padding-bottom: 90px;
}
.btn-yellow{
  background-color: $yellow;
  @include box-shadow(0px 10px 30px rgba(255, 175, 0, 0.50));
}
.btn-red{
  background-color: $red;
  @include box-shadow(0px 10px 30px rgba(232, 60, 60, 0.50));
}
.btn-vio{
  background-color: $vio;
  @include box-shadow(0px 10px 30px rgba(150, 50, 200, 0.50));
}
.btn-blue{
  background-color: $blue;
  @include box-shadow(0px 10px 30px rgba(79, 142, 221, 0.5));
}
.btn-green{
  background-color: $green;
  @include box-shadow(0px 10px 30px rgba(22, 160, 134, 0.50));
}


/********************************Homepage close****************************************/



/********************************Packages****************************************/
.page-title {
  color: #4f8edd;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  @extend %fl-fw;
  margin-bottom: 40px;
  margin-top: 80px;
}
.top-block-img{
  margin-bottom: 40px;
  @extend %fl-fw;
  .img{
    width: 320px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
.pricing-wrapper{
  &.package-page{
    padding-top: 0;
  }
}
/********************************Packages close****************************************/


/********************************Why-us****************************************/
.whyus{
  .alternet-section-wrap{
    padding-top: 35px;
    .alter-wrapper{
      .alter-wrapper-item{
        .alter-wrapper-cell{
          .img-wrap {
            text-align: center;
          }
          ul{
            padding-left: 50px;
            li{
              .title{
                position: relative;
                color: #010101;
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 10px;
                &:before{
                  content: "";
                  position: absolute;
                  border: 10px solid #010101;
                  border-top: 8px solid transparent;
                  border-right-color: transparent;
                  border-bottom: 8px solid transparent;
                  left: -20px;
                  top: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
}
/********************************Why-us close****************************************/


/********************************Login  - Register - Forget****************************************/
.login-register-wrap {
  padding-top: 120px;
  padding-bottom: 140px;
  .log-reg-section{
    @extend %tbl;
    width: calc(100% - 100px);
    margin: 0 auto;
    .log-reg-cell{
      @extend %tbl-cell;
      width: 50%;
      .page-title{
        margin-top: 0;
        margin-bottom: 50px;
        text-align: left;
      }
      .othr-link{
        font-size: 13px;
        font-weight: 300;
        color: #969696;
        padding-left: 30px;
      }
      &.left{
        padding-right: 50px;
        border-right: 2px solid #ebebeb;
      }
      &.right{
        padding-left: 50px;
      }
    }
  }
  form{
    @extend %fl-fw;
  }
  .box-changer{
    color: #969696;
    width: 100%;
    float: left;
    .link{
      color: #4f8edd;
    }
  }
}
.chng-box{
  display: none;
  &.login-box{
    display: block;
  }
}
.form-horizontal{
  .form-group{
    margin-bottom: 30px;
    margin-right: -10px;
    margin-left: -10px;
    .field{
      padding-left: 10px;
      padding-right: 10px;
      .field-half{
        display: inline-block;
        width: 50%;
        margin-left: -2px;
        vertical-align: middle;
        &:last-child{
          text-align: right;
        }
      }
    }
  }
}
/*****************************Login  - Register - Forget close*************************************/



/***************************** Contact Us *************************************/
.contact-wrap{
  @extend %fl-fw;
  display: flex;
  padding-bottom: 100px;
  padding-top: 10px;
  .wrap-cell{
    display: inline-block;
    width: 33.3333%;
    text-align: center;
    &:not(:last-child){
      border-right: 1px solid #000;
    }
    .top-section{
      margin-bottom: 25px;
      .img-wrp {
        width: 35px;
        height: 35px;
        margin: 0 auto;
      }
      .text{
        color: #323232;
        font-weight: bold;
        @extend %fl-fw;
        margin-top: 5px;
      }
    }
    .bottom-section{
      margin-top: 25px;
      @extend %fl-fw;
      color: #636363;
      font-size: 13px;
      a{
        color: #636363;
        &:hover , &:focus{
          color: #4f8edd !important;
        }
      }
      p{
        margin-bottom: 0;
      }
    }
  }
}
.inquiry-wrap{
  @extend %fl-fw;
  padding-top: 90px;
  padding-bottom: 70px;
  border-top: 1px solid #c8c8c8;
  .title{
    @extend %fl-fw;
    text-align: center;
    font-weight: bold;
    padding-bottom: 60px;
    text-transform: uppercase;
  }
  .img-wrap{
    text-align: center;
  }
  .form-horizontal {
    .form-group{
      margin-bottom: 22px;
    }
  }
}
.wrap-50{
  width: 50%;
  display: inline-block;
  margin-left: -2px;
  vertical-align: middle;
  &:first-child{
    padding-right: 40px;
  }
  &:last-child{
    padding-left: 40px;
  }
}

/************************** Contact Us close **********************************/



/************************** FAQs **********************************/
.plus-minus-toggle {
  cursor: pointer;
  position: relative;
  z-index: 1;
  .toggle-icon{
    position: absolute;
    width: 12px;
    right: 20px;
    height: 4px;
    top:50%;
    @include transform(translateY(-50%));
    z-index: -1;
    &:before,
    &:after {
      background: #000;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      top: 0;
      width: 15px;
      transition: transform 500ms ease;
    }
    &:after {
      transform-origin: center;
      transform: rotate(90deg);
    }
  }
}
.active {
  .toggle-icon{
    &:after {
      transform: rotate(180deg);
    }
    &:before {
      transform: rotate(180deg);
    }
  }
}
.accordion-wrapper{
  font-family: 'Avenir-Roman';
  @extend %fl-fw;
  margin-bottom: 30px;
  .plus-minus-toggle{
    position: relative;
    @include box-shadow(0px 3px 25px rgba(150, 175, 200, 0.20));
    @include border-radius(15px);
    background: #fff;
    a{
      padding: 14px;
      display: block;
      color: #000;
      padding-right: 50px;
      &:hover{
        color: #4f8edd !important;
      }
      &:focus{
        color: #000 !important;
      }
    }
  }
  .content-section {
    display: none;
    float: left;
    width: 100%;
    background: #FAFAFF;
    padding: 30px;
    @include border-radius(15px);
    margin-top: -12px;
    color: #646464;
    :last-child{
      margin-bottom: 0;
    }
  }
}
.flex-seprator {
  margin-left: -50px;
  margin-right: -50px;
  padding-top: 70px;
  padding-bottom: 90px;
}
.field-half-wrap{
  .field-half{
    &:first-child{
      padding-right: 30px;
    }
    &:last-child{
      padding-left: 30px;
    }
  }
}
.askus-wrapper{
  padding-bottom: 70px;
  .title{
    color: #323232;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
  }
}
/************************ FAQs close *******************************/


/************************** How It works **********************************/
.work-wrap{
  @extend %fl-fw;
  padding-top: 75px;
}
.work-grid-item{
  @extend %fl-fw;
  padding: 25px;
  @include box-shadow(0px 5px 30px rgba(135, 155, 175, 0.25));
  margin-bottom: 100px;
  .work-cell{
    display: inline-block;
    width: calc(100% - 465px);
    float: left;
    padding: 25px;
    &:not(.img){
      padding-top: 15px;
    }
    &.img{
      width: 465px;
      position: relative;
      .img-wrap {
        position: relative;
        left: 0;
        margin-top: -100px;
      }
    }
    .title{
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    ul{
      padding-left: 16px;
      li{
        font-size: 13px;
        position: relative;
        font-weight: 300;
        &:not(:last-child){
          margin-bottom: 12px;
        }
        &:before{
          content: "";
          height: 8px;
          width: 10px;
          position: absolute;
          top: 5px;
          left: -15px;
          background: url("../images/ul-arrow.png") no-repeat;
          background-size: 100%;
        }
      }
    }
  }
}
/************************ How It works close *******************************/


/************************ CMS Page *******************************/
.cms-wrapper{
  @extend %fl-fw;
  .static-text {
    text-align: justify;
    .title{
      font-size: 18px;
      font-weight: bold;
      @extend %fl-fw;
      margin-bottom: 20px;
      margin-top: 15px;
    }
  }
}
.cms-wrap {
  padding-bottom: 100px;
}
header.header-is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  animation: smoothScroll 1s forwards;
  height: 70px;
  background: #ffffff;
  @include box-shadow(0 6px 10px rgba(150, 175, 200, 0.20));
  padding-top: 15px;
  padding-bottom: 15px;
  .header-tbl .header-tbl-cell.logo .logo-header{
    img{
      max-width: 75%;
    }
  }
}
.content-wrapper{
  @extend %fl-fw;
}
/************************ CMS Page close *******************************/
a.user-list{
  padding: 10px 0;
  padding-right: 20px;
  position: relative;
  display: block;
  .use-name {
    display: inline-block;
    vertical-align: middle;
    max-width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &:hover,&:focus{
    color: #4f8edd !important;
  }
  &:after{
    content: '\f107';
    position: absolute;
    right:0;
    top:56%;
    font-family: FontAwesome;
    @include transform(translateY(-50%));
    @include transition(0.35s ease);
    font-size: 18px;
  }
  &.active{
      &:after{
        @include transform(translateY(-50%) rotate(180deg));
      }
  }
  .sml-img {
    width: 26px;
    height: 26px;
    overflow: hidden;
    border-radius: 50%;
    background: #dcdcdc;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    img{
      width: 100%;
      height: 100%;
      padding: 5px;

    }
  }
}
.user-list-menu{
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  @include border-radius(10px);
  @include box-shadow(0px 6px 20px rgba(150, 175, 200, 0.30));
  width: 200px;
  padding: 10px;
  li{
    font-size: 13px;
    padding: 5px 0;
    a{
      color: #323232;
    }
  }
}
//Page Loader
.loader-group
{
  background-color: #333;  position: fixed;  left: 0px;  top: 0px;  width: 100%;  height: 100%;  z-index: 99999999;
}
.loader {
  -webkit-transform: translate(0%,-50%);  -moz-transform: translate(0%,-50%);  -ms-transform: translate(0%,-50%);  -o-transform: translate(0%,-50%);  position: absolute;  top:50%;  left: 0%;  right: 0%;  margin: 0 auto;  text-align: center;
  img{
    animation: spinner-shadow 2s infinite;   border-radius: 50%; @include transition(0.35s ease);
  }
}
//Page Loader close

//@media screen and (-webkit-min-device-pixel-ratio:0) {
//
//}